/*
  Name: Unix
  Author: Miloslav Číž
*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

#unix-button
  {
    cursor: pointer; cursor: hand;
  }

#unix-button:before
  {
    content: "logout";
  }

body, a
  {
    font-family: "Ubuntu Mono", monospace;
    background-color: black;
    font-size: 17px;
    color: #3cff3c;
  }

img
  {
    filter: url(#unix);
    max-width: 640px;
    text-indent: -100000px;
    color: #3cff3c;
  }

.project img
  {
    width: 320px;
  }

h1, h2, h3, h4, h5, h6
  {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
  }

nav::before
  {
    white-space: pre;
    content: "                               ___\a                             |\\/   \\\aT A S T Y F I S H           |  > O )\a=================           |/\\___/";
    font-weight: bold;
  }

body
  {
    width: 800px;
  }

div.fit-but-cheatsheet
  {
    width: 120px;
  }

footer::before
  {
    content: "----------------------------------------------------------------------------------------------";
  }

ul
  {
    list-style: none;
    padding-left: 17px;
  }

hr
  {
    border: none;
  }

hr::before
  {
    content: "______________________________________________________________________________________________";
  }

.social::before
  {
    content: "MY SOCIAL WEBSITE PROFILES:"
  }

table
  {
    border-collapse: collapse;
  }

.language-select
  {
    float: right;
  }

.language-select::before
  {
    content: "language:";
  }

.language-select div
  {
    display: inline;
  }

.language-select a div.lang-cs::before
  {
    content: "cz";
  }

.language-select a div.lang-en::before
  {
    content: "en";
  }

td
  {
    border: 1px solid;
    padding: 3px;
  }

input[type="image"]   /* donate button */
  {
    width: 0;
    height: 0;
    padding: 15px 50px;
    margin: 0 0 20px;
    background-color: #3cff3c;;
    background-image: url(
    "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='170px' height='50px'> \
    <text x='17' y='20' style='fill:black;' font-size='16' font-family='monospace' >donate</text></svg>");
  }

ul li
  {
    display: block;
  }

ul li::before
  {
    content: "-";
  }

img
  {
    max-width: 100%
  }
