<footer class="post-info">

        {{ article.locale_date }}
        
        {% if article.modified %}
          (modified: {{ article.locale_modified }})
        {% endif %}
        
        {% if article.authors %}
          <br />
          {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {% endfor %}
        {% endif %}
        
        {% include 'taglist.html' %}
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
        
</footer><!-- /.post-info -->
