          <div class="post-info">
            {{ article.locale_date }} <br />
  
            {%- if article.modified %}
            {{ article.locale_modified }} <br />
            {% endif %}
        
            {% if article.authors -%}
            {% for author in article.authors %}
            {{ author }} <br />
            {% endfor %}
            {% endif -%}
        
            {% include 'taglist.html' %} <br />
            {% import 'translations.html' as translations with context %} <br />
            {{ translations.translations_for(article) }}
          </div>
