<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  <!--[if IE]> <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"> </script> <![endif]-->
</head>

<body id="index" class="home">
{% include "github.html" %}
  <div class="language-select">
    {% for lng, surl in lang_siteurls.items() %}
      <a href="{{ surl }}/index.html"> <div class="lang-icon lang-{{ lng }}{% if lng == DEFAULT_LANG %} selected-lang{% endif %}" ></div> </a>
    {% endfor %}
  </div>

  <header id="banner" class="body">
    <div class="fish"></div>
    
    <div id="logo"></div>
    
    <nav>
      <ul>
        {%- if tagpage == True %}
          {% set helper_index = "tag" %}
        {% else %}
          {% set helper_index = "%s"|format(category) %}
        {% endif %}
    
        {%- set active_index = MENUITEM_ACTIVE_MAPPING[helper_index] %}
            
        {% for title, link in MENUITEMS %}
        <li {% if output_file == link or loop.index == active_index %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></li>
        {% endfor -%}
            
        {% if DISPLAY_PAGES_ON_MENU -%}
          {% for pg in pages %}
            <li {% if pg == page %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
          {% endfor %}
        {% endif -%}
            
        {% if DISPLAY_CATEGORIES_ON_MENU -%}
          {% for cat, null in categories %}
            <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
  </header>

  {% block content %}
  {% endblock %}
        
  {% include "links.html" %}

  <footer id="contentinfo" class="body">
    <address id="about" class="vcard body">
      Powered by <a href="http://getpelican.com/">Pelican</a>, <a href="http://python.org">Python</a>, <a href="http://jinja.pocoo.org/">Jinja</a>, <a href="https://github.com/">GitHub</a>. <br />
      Original theme by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, modified by Tastyfish. <br />
      Emoji provided by <a href="http://emojione.com/">EmojiOne</a>. <br />
      This website is open source, the source code is available <a href="https://github.com/drummyfish/drummyfish.github.io-src">here</a>. <br />
      <span class="publish-info">{{ PUBLISH_INFO_TEXT }}</span>
    </address>
  </footer>
    
{% include "analytics.html" %}
{% include "disqus_script.html" %}
</body>
</html>
