{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

<section id="content" class="body">
  {% import "macros.html" as m %}
  {{ m.random_texts_script() }}

  <h1 class="entry-title"> {% if DEFAULT_LANG == "cs" %} Úvod {% else %} Intro {% endif %} </h1>
  
  <p>
  {% if DEFAULT_LANG == "cs" %}
    
  Vítejte na mých stránkách {{m.e(':)')}} Jejich účelem je shromažďovat různé věci, které mě zajímají a o které se chci podělit.
  Zde jsou rychlé odkazy na klíčové články:

  {% else %}
  
  Welcome to my website {{m.e(':)')}} Its purpose is to store different things I'm interested in and want to share.
  Here are some quick links to key pages:
  
  {% endif %}
  </p>
    
  <ul>
    {% for article in articles %}
    {% for tag in article.tags %}
    {% if tag.name == "frontpage" %}
    <li> <a href="{{ article.url }}"> {{ article.title }} </a> </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
    
  <script>
    {% if DEFAULT_LANG == "cs" %}
    write_random_item("Náhodný fakt", facts_cs);
    write_random_item("Náhodný citát", quotes_cs);
    {% else %}
    write_random_item("Random fact", facts_en);
    write_random_item("Random quote", quotes_en);
    {% endif %}
  </script>
    
  <hr>
    
  <h1> {% if DEFAULT_LANG == "cs" %} Nedávno přidáno {% else %} Recently Added {% endif %} </h1>
    
  <ul class="latest-articles">
    {% for article in articles %}
    {% if loop.index < 5 %}
    <li> <a href="{{ article.url }}"> {{ article.title }} </a> </li>
    {% endif %}
    {% endfor %}
  </ul>
    
  {% include "donate.html" %}
    
  {% include "social.html" %}
</section>
{% endblock content %}