{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

<section id="content" class="body">
  {% include "random_texts.txt" %}
  {% import "macros.html" as m %}

  {% if DEFAULT_LANG == "cs" %}
    Vítejte na mých stránkách {{m.e(':)')}} Jejich účelem je shromažďovat různé věci, které mě zajímají a o které se chci podělit.
    
    <script>
      write_random_item("Náhodný fakt", facts_cs);
      write_random_item("Náhodný citát", quotes_cs);
    </script>
    
  {% else %}
    Welcome to my website {{m.e(':)')}} Its purpose is to store different things I'm interested in and want to share.
    
    <script>
      write_random_item("Random fact", facts_en);
      write_random_item("Random quote", quotes_en);
    </script>
  {% endif %}
  
  {% include "social.html" %}
  
</section>
{% endblock content %}