{% macro img_desc(src, title='', desc='') -%}
<div class="img-desc">
  <p><img src="{{ src }}" title="{{ title }}" alt="{{ title }}"></p>
  {% if desc %}
  <p><em>{{ desc }}</em></p>
  {% endif %}
</div>
{%- endmacro %}

{% macro e(symbol=':)') -%}
  <span class="emoji emoji-{#
    #}{%if symbol is equalto ':)'%}{#
      #}smile{#
    #}{%elif symbol is equalto ':-)'%}{#
      #}smile{#
    #}{%elif symbol is equalto '=)'%}{#
      #}smile{#
    #}{%elif symbol is equalto ':]'%}{#
      #}smile{#
    #}{%elif symbol is equalto ':('%}{#
      #}sad{#
    #}{%elif symbol is equalto ':-('%}{#
      #}sad{#
    #}{%elif symbol is equalto ':D'%}{#
      #}grin{#
    #}{%elif symbol is equalto ":'("%}{#
      #}cry{#
    #}{%elif symbol is equalto ':O'%}{#
      #}openmouth{#
    #}{%elif symbol is equalto ':o'%}{#
      #}openmouth{#
    #}{%elif symbol is equalto ':p'%}{#
      #}tongue{#
    #}{%elif symbol is equalto ':P'%}{#
      #}tongue{#
    #}{%elif symbol is equalto '^^'%}{#
      #}eyebrows{#
    #}{%elif symbol is equalto '<3'%}{#
      #}heart{#
    #}{%elif symbol is equalto 'thumbsup'%}{#
      #}thumbsup{#
    #}{%elif symbol is equalto ':|'%}{#
      #}neutral{#
    #}{%elif symbol is equalto ':/'%}{#
      #}sideways{#
    #}{%elif symbol is equalto 'x'%}{#
      #}no{#
    #}{%elif symbol is equalto '/'%}{#
      #}check{#
    #}{%endif%}"></span>
{%- endmacro %}

{% macro fit_but_cheatsheet(course,page,imgur_id) -%}
<div class="fit-but-cheatsheet">
<a href="http://i.imgur.com/{{ imgur_id }}.jpg" target="blank">
<img src="http://i.imgur.com/{{ imgur_id }}m.jpg" alt="{{ course }} tahák"/></img>
</a>

<p>
{{ course }} tahák
{% if page %}
, str. {{ page }}
{% endif %}
</p>
</div>
{%- endmacro %}