{% if DEFAULT_PAGINATION %}
<p class="paginator">
  {% if articles_page.has_previous() %}
    <a href="{{ SITEURL }}/{{ articles_paginator.page(1).url }}">&laquo;</a>
    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&lt;</a>
  {% endif %}
  
  {% set pagination_distance = 10 %}
  {% set pagination_range = range(([1,articles_page.number - pagination_distance]|sort)[1],([articles_paginator.page_range[-1],articles_page.number + pagination_distance]|sort)[0] + 1) %}

  {% for i in pagination_range %}
    {% if i == articles_page.number %}
      <span class="active-page"> {{ i }} </span>
    {% else %}
      <a href="{{SITEURL}}/{{articles_paginator.page(i).url}}"> {{ i }} </a>
    {% endif %}    
  {% endfor %}

  {% if articles_page.has_next() %}
    <a href="{{ SITEURL }}/{{ articles_next_page.url }}">&gt;</a>
    <a href="{{ SITEURL }}/{{ articles_paginator.page(articles_paginator.page_range[-1]).url }}">&raquo;</a>
  {% endif %}  
</p>
{% endif %}