{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

<section id="content" class="body">

{% import "macros.html" as m %}
  
{% if DEFAULT_LANG == "cs" %}
  <h1> Projekty </h1>
    
  <p> Tato stránka nabízí přehled mých programovacích projektů. Většinu z nich naleznete na mém <a href="https://github.com/{{GITHUB_USER}}">GitHubovém profilu</a>. </p>

  {{ m.display_projects() }}
  
{% else %}
  <h1> Projects </h1>
    
  <p> This page is dedicated to my programming projects. They can all be found as open-source at my <a href="https://github.com/{{GITHUB_USER}}">GitHub profile</a>. </p>
{% endif %}

{% include "social.html" %}

</section>
{% endblock content %}